{% extends "inmobiliaria/index.html" %}
{% block titulo %}Iniciar sesión | Inmobiliaria{% endblock %}

{% block contenido %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h4 class="mb-0">Iniciar sesión</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-principal">Iniciar sesión</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p>¿No tenés cuenta? <a href="{% url 'register' %}" class="text-decoration-none">Registratese</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}